<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fte.feedthecause">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity2"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedACT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageViewer2"
            android:label="@string/title_activity_image_viewer2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageForm4"
            android:label="@string/title_activity_image_form4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CaptureImage" />
        <activity
            android:name=".ImgeCapture2"
            android:label="@string/title_activity_imge_capture2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedAct2"
            android:label="@string/title_activity_feed_act2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterUser"
            android:label="@string/title_activity_register_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageTester"
            android:label="@string/title_activity_image_tester"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>